# Menyembunyikan folder aset pihak ketiga dari statistik bahasa
assets/**/* linguist-vendored
csssku/**/* linguist-vendored
gambar/**/* linguist-vendored
img/**/* linguist-vendored
js/**/* linguist-vendored
logs/**/* linguist-vendored
